.aside table {
    width: fit-content;;
}

.aside table tr {
    text-align: left;
    font-family: BookCircular;
    font-size: 20px;
    letter-spacing: 0;
    height: 65px;
    opacity: 0.39;
    vertical-align: top;
}

.aside table > td {
    text-align: right;
}

.aside table tr:nth-child(1) {
    opacity: 1
}

.aside table td:nth-child(3) {
    opacity: 0
}

.aside table td a {
    text-decoration: none;
    color: #000000 !important;
}

.aside table td:nth-child(1) {
    width: 37px;
}
