.media h1 {
    margin-top: 0;
    margin-bottom: 10px;
    font-family: BlackCircular;
    font-size: 40px;
    line-height: 51px;
    letter-spacing: 0;
    color: #000000;
}

.media article {
    font-family: BookCircular;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: 0;
    color: #7B7B7B;
    max-width: 692px;
    margin-bottom: 35px;
}

.media form {
    max-width: 851px;
}

.media form > div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 76px;
}

.media form > div div {
    width: 262px;
    height: 186px;
    box-shadow: 0px 3px 6px #00000029;
    margin-right: 24px;
    margin-bottom: 26px;
    cursor: pointer;
}

.media .btn-continue {
    width: 320px;
}

@media screen and (max-width: 420px) {
    .media h1 {
        text-align: center;
    }

    .media form > div {
        flex-direction: row;
        margin-bottom: 0;
        justify-content: center;
    }

    .media form > div div {
        margin-right: 0;
    }

    .media .btn-continue {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .media h1, .media article {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
